<h3>Branches</h3>
<div class="row">
  <div class="col-sm-0 col-md-1"></div>
  <div class="col-sm-12 col-md-10">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <table class="table table-bordered" id="dataTable">
          <tbody>
            <tr>
              <th class="col-md-2">Name</th>
              <th class="col-md-5">Location</th>
              <th class="col-md-4">Hours of Operation</th>
              <th class="col-md-1"><%- linkTo("<i class='glyphicon glyphicon-plus'></i>", "#", {id: "lnkAdd", _escapeContent: false, onclick: "addRow()"}); %></th>
            </tr>
    <% if (branches && branches.length > 0) { %>
        <%for (var i=0, ii = branches.length; i < ii; i++) { %>
            <tr id="row_<%=branches[i].id%>">
              <td><%=branches[i].name%></td>
              <td><%=branches[i].location%></td>
              <td><%=branches[i].hoursOfOperation%></td>
              <td><%- linkTo("<i class='glyphicon glyphicon-edit'></i>", "#", {onclick: "editRow('" + branches[i].id + "')", _escapeContent: false}); %>
              <%- linkTo("<i class='glyphicon glyphicon-trash'></i>", "#", {onclick: "deleteRow('" + branches[i].id + "')", _escapeContent: false}); %></td>
            </tr>
        <%}%>
      <%} else { %>
          <tr class="warning"><td colspan="4">No Branches configured</td></tr>
    <% } %>
          <tbody>
        </table>
      </div>
     </div>
  </div>
  <div class="col-sm-0 col-md-1"></div>
</div>
<script>
  params = {id: "", name: "", location: "", hoursOfOperation: ""};
  properties = [{name: "name", type: "text", maxLength: 200}, {name: "location", type: "text", maxLength: 200}, {name: "hoursOfOperation", type: "text", maxLength: 100}];
  url = "/branches";

  $(document).ready(function(){
  });
</script>