<div class="hero-unit">
  <h2 class="id"><%= library.id %></h2>
  <%- linkTo('Edit this library', editLibraryPath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', libraryPath(''), {class: 'btn pull-right'}); %>
</div>

<h2>Library Properties</h2>
<% for(var i in library) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= library[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>