<h3>Prizes</h3>
      <%- partial('/partial/message', {flash: flash}) %>
<%
    function getValue(data, propertyName) {
        if(typeof data != 'undefined' && typeof data[propertyName] != 'undefined') {
            return data[propertyName];
        }
        return "";
    }

     var userTypeLookup = {};
     for(var iUT in userTypes) {
          userTypeLookup[userTypes[iUT].id] = userTypes[iUT].name;
     }
%>
<div class="row">
  <div class="col-sm-0 col-md-1"></div>
  <div class="col-sm-12 col-md-10">
  <div class="row">
      <div class="col-sm-12 col-md-12">
        <table class="table table-primary" id="dataTable">
          <tbody>
            <tr>
              <th>User Type</th>
              <th class="col-md-2">Prize 1</th>
              <th class="col-md-2">Prize 2</th>
              <th class="col-md-2">Prize 3</th>
              <th><%- linkTo("<i class='glyphicon glyphicon-plus'></i>", "#", {id: "lnkAdd", _escapeContent: false, onclick: "addRow()"}); %></th>
            </tr>
    <% if (prizes && prizes.length > 0) { %>
        <%for (var i=0, ii = prizes.length; i < ii; i++) { %>
            <tr id="row_<%=prizes[i].id%>">
              <td><%=getValue(userTypeLookup, prizes[i].userType)%></td>
              <td><%=prizes[i].prize1%></td>
              <td><%=prizes[i].prize2%></td>
              <td><%=prizes[i].prize3%></td>
              <td><%- linkTo("<i class='glyphicon glyphicon-edit'></i>", "#", {onclick: "editRow('" + prizes[i].id + "')", _escapeContent: false}); %>
              <%- linkTo("<i class='glyphicon glyphicon-trash'></i>", "#", {onclick: "deleteRow('" + prizes[i].id + "')", _escapeContent: false}); %></td>
            </tr>
        <%}%>
      <%} else { %>
          <tr class="warning"><td colspan="7">No Prizes defined</td></tr>
    <% } %>
          <tbody>
        </table>
      </div>
  </div>
  </div>
  <div class="col-sm-0 col-md-1"></div>
</div>
<script>
  params = {id: "", userType: "", prize1: "", prize2: "", prize3: ""};
  properties = [{name: "userType", type: "select", maxLength: 100}, 
                {name: "prize1", type: "text", maxLength: 100},
                {name: "prize2", type: "text", maxLength: 100},
                {name: "prize3", type: "text", maxLength: 100}];
                
  url = "/prizes";


  $(document).ready(function(){
    loadUserTypes();
  });
  
  function loadUserTypes() {
    var userTypeUrl = '/user_types.json';
    $.ajax({url: userTypeUrl,
        contentType: "application/json", 
        type: "GET",
        dataType: "json"})
        .done(function(resdata){getOptions(resdata);})
        .fail(function(){});
  } 
  
  function getOptions(userTypes) {
    for(var i in userTypes) {
       optionsForSelect[optionsForSelect.length] = {text: userTypes[i].name, value: userTypes[i].id};
    }
  }
</script>