<h3>Reports</h3>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Prize Summary </h3>
<table id='branchprize' class='sorttable'>
   <tr class="no-sort">
      <th rowspan="2">Status</th>
<%
		for(tid in result.userTypes)
		{
			 if (typeof result.userTypes[tid] == 'undefined' || typeof result.userTypes[tid].name == 'undefined')
			 {
					continue;
			 }
%>
      <th colspan="6"><%=result.userTypes[tid].name.toUpperCase()%></th>
<%
 		}
%>
   </tr>
   <tr class="no-sort">
      <td>P0</td><td>P1</td><td>P2</td><td>P3</td><td>P4</td><td>RB</td>
      <td>P0</td><td>P1</td><td>P2</td><td>P3</td><td>P4</td><td>RB</td>
      <td>P0</td><td>P1</td><td>P2</td><td>P3</td><td>P4</td><td>RB</td>
      <td>P0</td><td>P1</td><td>P2</td><td>P3</td><td>P4</td><td>RB</td>
      <td>P0</td><td>P1</td><td>P2</td><td>P3</td><td>P4</td><td>RB</td>
   </tr>
	<%
	try
	{  	
		for(var j = 1; j < 3 ; j++)
		{
	%>		
		<tr>
	<%
			if (j == 2) { %> <td> Claimed </td> <%  } else { %> <td> Earned </td> <% } 
					
			for(tid in result.userTypes)
			{
				 if (typeof result.userTypes[tid] == 'undefined' || typeof result.userTypes[tid].name == 'undefined')
				 {
						continue;
				 }
				 
				 var CountsByUserType = result.summaryPrize.get(result.userTypes[tid].name.toUpperCase());
				 
					for(var k = 0; k < 6 ; k++)
					{
			%>
		      			<td>
		      				<%  if (typeof CountsByUserType == 'undefined' || typeof CountsByUserType.get(k) == 'undefined' || typeof CountsByUserType.get(k).get(j) == 'undefined')
		      					{  
		      				%> 
		      					0 
		      				<% 	}
		      					else
		      					{
		      				%>
		      					<%=CountsByUserType.get(k).get(j)%>
		      				<%
		      					}
		      				%>
	      				</td>
			<%		
					}
			}
			%>
			</tr>
			<%
		}
	}
	catch(err)
	{
	%>
		There is technical difficulties while generating the reports. Error: <%=err%>
	<%
	}
	%>
 </table>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Branchwise Prize Report </h3>
<table id='branchprize' class='sorttable'>
   <tr class="no-sort">
      <th rowspan="2">Branch</th>
      <th rowspan="2">Status</th>
<%
		for(tid in result.userTypes)
		{
			 if (typeof result.userTypes[tid] == 'undefined' || typeof result.userTypes[tid].name == 'undefined')
			 {
					continue;
			 }
%>
      <th colspan="6"><%=result.userTypes[tid].name.toUpperCase()%></th>
<%
 		}
%>
   </tr>
   <tr class="no-sort">
      <td>P0</td><td>P1</td><td>P2</td><td>P3</td><td>P4</td><td>RB</td>
      <td>P0</td><td>P1</td><td>P2</td><td>P3</td><td>P4</td><td>RB</td>
      <td>P0</td><td>P1</td><td>P2</td><td>P3</td><td>P4</td><td>RB</td>
      <td>P0</td><td>P1</td><td>P2</td><td>P3</td><td>P4</td><td>RB</td>
      <td>P0</td><td>P1</td><td>P2</td><td>P3</td><td>P4</td><td>RB</td>
   </tr>
	<%
	try
	{  	
		for(bid in result.branches)
		{
			 var branchName = result.branches[bid]; 
				 
			 if (typeof branchName == 'undefined' || typeof branchName.name == 'undefined')
			 {
				continue;
			 }
			 
			var branch =  result.prize.get(branchName.name);
			
			if(typeof branch == 'undefined')
			{
				continue;
			}
			
			for(var j = 1; j < 3 ; j++)
			{
				if(j == 1)
				{
		%>		
			<tr>
			  <td rowspan="2"><%=branchName.name%></td>
			  
		<%
				}
				else
				{
		%>		
			<tr>
		<%
				}
				
				if (j == 2) { %> <td> Claimed </td> <%  } else { %> <td> Earned </td> <% }
						
				for(tid in result.userTypes)
				{
					 if (typeof result.userTypes[tid] == 'undefined' || typeof result.userTypes[tid].name == 'undefined')
					 {
							continue;
					 }
					 
					 var CountsByUserType = branch.get(result.userTypes[tid].name.toUpperCase());
					 
						for(var k = 0; k < 6 ; k++)
						{
				%>
			      			<td>
			      				<%  if (typeof CountsByUserType == 'undefined' || typeof CountsByUserType.get(k) == 'undefined' || typeof CountsByUserType.get(k).get(j) == 'undefined')
			      					{  
			      				%> 
			      					0 
			      				<% 	}
			      					else
			      					{
			      				%>
			      					<%=CountsByUserType.get(k).get(j)%>
			      				<%
			      					}
			      				%>
		      				</td>
				<%		
						}
				}
				%>
		</tr>
				<%
			}
		}
	}
	catch(err)
	{
	%>
		There is technical difficulties while generating the reports. Error: <%=err%>
	<%
	}
	%>
 </table>

<script> 
  params = {result: result};
  url = "/reports";

  $(document).ready(function(){
  });
</script>
<script>
var p = document.getElementById('prize');
var bp = document.getElementById('branchprize');
var refresh = new Tablesort(p);
var refresh = new Tablesort(bp);
</script>



