<%= partial('layout_header'); %>
  <body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/">SuRF</a>
		</div>
	
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right">	
			<% if(session.get('account_info')) { %>
				<% if(session.get('account_info').role && (session.get('account_info').role == "ADMIN" || session.get('account_info').role == "VOLUNTEER")) { %>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Accounts <b class="caret"></b></a>
					  <ul class="dropdown-menu">
						<li><%- linkTo("Find", accountPath(''));%></li>
						<li><%- linkTo("Add New", accountPath('add'));%></li>
					  </ul>
					</li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-stats"></i> Reports <b class="caret"></b></a>
					  <ul class="dropdown-menu">
						<li><a href="#">Registered Users</a></li>
						<li><a href="#">Reading Progress</a></li>
						<li><a href="#">Prizes</a></li>
					  </ul>
					</li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i> Config <b class="caret"></b></a>
					  <ul class="dropdown-menu">
						<li><%- linkTo("Branches", branchPath(''));%></li>
						<li><%- linkTo("User Type", userTypePath(''));%></li>
						<li><%- linkTo("Prizes", prizePath(''));%></li>
						<li><%- linkTo("Grids", gridPath(''));%></li>
					  </ul>
					</li>
				<% } %>
					<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> User <b class="caret"></b></a>
						  <ul class="dropdown-menu">
							<li><a href='/accounts/signout'><i class="glyphicon glyphicon-log-out"></i> Sign&nbsp;Out</a></li>
						  </ul>
					</li>
			<% } 
			else { %>
					<li class="dropdown">
						<span class="navbar-text">
							<a class="menu-link" href='/accounts/signin'><i class="glyphicon glyphicon-log-in"></i> Sign&nbsp;In</a>
						</span>
					</li>
			<% } %>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container">
      <%- render(); %>
    </div>
  </body>
<%= partial('layout_footer'); %>

