<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>San José Public Library Summer Reading Challenge</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />
    <%- styleLink('/css/bootstrap.css', {rel:'stylesheet'}) %>
    <%- styleLink('/css/bootstrap-switch.min.css', {rel:'stylesheet'}) %>
    <%- styleLink('/css/style.css', {rel:'stylesheet'}) %>
    <%- styleLink('/css/sorting.css', {rel:'stylesheet'}) %>
    <%- styleLink('/css/activity.css', {rel:'stylesheet'}) %>

    <!-- The HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <%- scriptLink('http://html5shim.googlecode.com/svn/trunk/html5.js', {type:'text/javascript'}) %>
    <![endif]-->

    <%- scriptLink('/js/jquery.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/bootstrap.min.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/bootstrap-switch.min.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/config.utils.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/user_activity.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/message.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/config/init.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/prettify.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/tablesort.min.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/translate.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/tablesort.uncompressed.js', {type: 'text/javascript'}) %>

  </head>

