<%
    function getValue(data, propertyName) {
        if(typeof data != 'undefined' && typeof data[propertyName] != 'undefined') {
            return data[propertyName];
        }
        return "";
    }
    
    var branchLookup = {};
    var userTypeLookup = {};
    
    for(var iBr in branches) {
      branchLookup[branches[iBr].id] = branches[iBr].name;
    }
    for(var iUT in userTypes) {
      userTypeLookup[userTypes[iUT].id] = userTypes[iUT].name;
    }

    var panelColorLookup = {'pre-reader' : 'panel-pre-reader',
                            'reader': 'panel-reader',
                            'teen': 'panel-teen',
                            'adult': 'panel-adult',
                            'staff': 'panel-staff'};
    function getPanelClass(userType) {
      var panelClass = panelColorLookup[getValue(userTypeLookup, userType).toLowerCase()];
      if(!panelClass) {
        return "panel-default";
      }
      return panelClass;
    }
%>
<script>
  var userTypes = [];
  <%for(var iUType=0, utypeLength=userTypes.length; iUType < utypeLength; iUType++){%>
    userTypes["<%=userTypes[iUType].id%>"] = "<%=userTypes[iUType].name%>";
  <%}%>

  var badges = [];
  <%for(var iBdg=0, bdgLength=badges.length; iBdg < bdgLength; iBdg++){%>
    badges[<%=iBdg%>] = {desc: "<%=badges[iBdg].desc%>", imageSrc: "<%=badges[iBdg].imageSrc%>"};
  <%}%>

 var contentMap = {};
  contentMap["user.activity.message.readinglog.full.winPrize"] = "<%=i18n.t("user.activity.message.readinglog.full.winPrize")%>";
  contentMap["user.activity.message.readinglog.full"] = "<%=i18n.t("user.activity.message.readinglog.full")%>";
  contentMap["user.activity.message.activityGrid.instruction"] = "<%=i18n.t("user.activity.message.activityGrid.instruction")%>";
  contentMap["user.activity.message.batteryGrid.instruction"] = "<%=i18n.t("user.activity.message.batteryGrid.instruction")%>";
  contentMap["user.activity.message.prizeGrid.instruction"] = "<%=i18n.t("user.activity.message.prizeGrid.instruction")%>";
  contentMap["user.activity.message.activityGrid.rowOrColumn.winPrize"] = "<%=i18n.t("user.activity.message.activityGrid.rowOrColumn.winPrize")%>";
  contentMap["user.activity.message.activityGrid.blackout.winPrize"] = "<%=i18n.t("user.activity.message.activityGrid.blackout.winPrize")%>";

</script>
<br/>
      <%- partial('/partial/message', {flash: flash}) %>

<form class="form-inline" role="form">
<%- contentTag('input', account.id, {name: 'id', id: 'id', type: 'hidden'}); %>
</form>
<div class="row">
  <div class="col-md-12 read-challenge-text">User&nbsp;Name</strong> : <%=account.accountName%></div>
</div>
<div class="row">
  <div class="col-md-12 read-challenge-instruction"><%=i18n.t("user.activity.note.accessReader")%></div>
</div>

<%if(account.users && account.users.length > 0) {%>
<div class="panel-group margin-10" id="users">
    <%for(var iUr in account.users) {%>          
      <div class="panel <%=getPanelClass(account.users[iUr].userType)%>">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="#<%=account.users[iUr].id%>" data-toggle="collapse" data-parent="#users">
            <i id="ttl_<%=account.users[iUr].id%>" class="glyphicon glyphicon-plus"></i></a>&nbsp;
             <%=account.users[iUr].firstName + ' ' + account.users[iUr].lastName%>&nbsp;|&nbsp;
             <%=getValue(userTypeLookup, account.users[iUr].userType)%>
          </h4>
        </div>
        <div id="<%=account.users[iUr].id%>" class="panel-collapse collapse">
          <div class="panel-body" id="pnlbdy_<%=account.users[iUr].id%>">
          </div>
        </div>
      </div>
    <%}%>
</div>
<%}%>




<!-- Modal -->
<div class="modal" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="activityModalHeader">Your Challenge:</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal" id="prizeModal" tabindex="-1" role="dialog" aria-labelledby="prizeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="prizeModalHeader">Prize Information:</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="msgModalHeader">Congratulations!</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
      <%if( account.users && account.users.length > 0 ) {
          for(var iUr in account.users) {%> 
             $('#<%=account.users[iUr].id%>').on('hide.bs.collapse', function () {
               hideUserPanel(this);
              });
             $('#<%=account.users[iUr].id%>').on('show.bs.collapse', function () {
                showUserPanel(this);
              })
          
       <%}
         if(account.users && account.users.length ==1 ) {%>
           $('#<%=account.users[0].id%>').collapse('show');
         <%}
        <%
       }%>
    });
    <%if(session.get('account_info') && session.get('account_info').role && (session.get('account_info').role == "ADMIN" || session.get('account_info').role == "VOLUNTEER")) { %>
          prizeChangeAllowed = true;
    <%}%>
</script>
