<h3>Find Accounts</h3>
      <%- partial('/partial/message', {flash: flash}) %>
<%
    function getValue(data, propertyName) {
        if(typeof data != 'undefined' && typeof data[propertyName] != 'undefined') {
            return data[propertyName];
        }
        return "";
    }
%>
  <form class="form-horizontal" role="form" action="<%=urlFor({controller: 'accounts', action: 'index'})%>" method="get">
    <div class="form-group">
      <label for="accountName" class="col-md-1 control-label">User&nbsp;Name</label>
      <div class="col-md-4">
        <%- contentTag('input', params['accountName'], {name: "accountName", id: "accountName", placeholder: "User Name", class: 'form-control'});%>
      </div>
      <label class="col-md-1 control-label" for="phone">Phone</label>
      <div class="col-md-3">
        <%- contentTag('input', params['phone'], {name: "phone", id: "phone", placeholder: "phone", class: 'form-control'});%>
       </div>
      <label for="branchId" class="col-md-1 control-label">Library</label>
      <div class="col-md-2">
      <%
        var branchOptions = [];
        var branchLookup = {};
        var userTypeLookup = {};
        var rolePanelClass = {ADMIN: 'panel-danger', VOLUNTEER: 'panel-info', READER: 'panel-success' };
        branchOptions[branchOptions.length] = {text: '---- Branch ----', value: ' '};
        for(var iBr in branches) {
          branchOptions[branchOptions.length] = {text: branches[iBr].name, value: branches[iBr].id}
          branchLookup[branches[iBr].id] = branches[iBr].name;
        }
        for(var iUT in userTypes) {
          userTypeLookup[userTypes[iUT].id] = userTypes[iUT].name;
        }
        
       %>
       <%- selectTag(branchOptions, params['branchId'], {id: 'branchId', name: 'branchId', class: 'form-control'});%>
      </div>
    </div>
    <div class="form-group">
      <label for="firstName" class="col-md-1 control-label">Name</label>
      <div class="col-md-2">
        <%- contentTag('input', params['firstName'], {name: "firstName", id: "firstName", placeholder: "First Name", class: 'form-control'});%>
       </div>
      <div class="col-md-2">
        <%- contentTag('input', params['lastName'], {name: "lastName", id: "lastName", placeholder: "Last Name", class: 'form-control'});%>
       </div>
      <label for="emailAddress" class="col-md-1 control-label">Email</label>
      <div class="col-md-3">
        <%- contentTag('input', params['emailAddress'], {name: "emailAddress", id: "emailAddress", placeholder: "Email", class: 'form-control'});%>
      </div>
      <div class="col-md-3 text-right">
        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"> Search</i></button>
      </div>
    </div>
  </form>
  <br/><br/>
  <%if(typeof params['accountName'] != 'undefined') {%>
    <div class='row'>
      <div class='col-md-1 col-sm-1'>
      </div>
      <div class='col-md-10 col-sm-10'>
      
            <% if(typeof accounts != 'undefined' && accounts.length > 0) {
                for(var iAct in accounts) {%>
                  <div class="panel <%=getValue(rolePanelClass, accounts[iAct].role)%>">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-md-10"><h3 class="panel-title"><%=accounts[iAct].accountName%> | <%=getValue(branchLookup, accounts[iAct].branchId)%></h3></div>
                        <div class="col-md-2 text-right"><a href="#" onclick="editAccount('<%=accounts[iAct].id%>');return false;" title="Edit Account"><i class="glyphicon glyphicon-edit fs-18"></i></a>
                    <%if(typeof accounts[iAct].users != 'undefined' && accounts[iAct].users.length > 0) {%>
                          &nbsp;&nbsp;<a href="#" onclick="editActivityLog('<%=accounts[iAct].id%>');return false;" title="Manage activity log"><i class="glyphicon glyphicon-pencil fs-18"></i></a>
                        <!--  <a href="#" onclick="toggleDisplay('<%=accounts[iAct].id%>');return false;" title="Show users"><i id="chevron_<%=accounts[iAct].id%>" class="glyphicon glyphicon-chevron-down fs-18"></i></a> -->
                        </div>
                      </div>
                   </div>
                   <div class="panel-body" id="users_<%=accounts[iAct].id%>">
                                <table class="table table-detail">
                                  <tr>
                                    <th>First&nbsp;Name</th>
                                    <th>Last&nbsp;Name</th>
                                    <th>User&nbsp;Type</th>
                                  </tr>
                                  <%for(var iUser in accounts[iAct].users) {%>
                                    <tr>
                                      <td><%=accounts[iAct].users[iUser].firstName%></td>
                                      <td><%=accounts[iAct].users[iUser].lastName%></td>
                                      <td><%=getValue(userTypeLookup, accounts[iAct].users[iUser].userType)%></td>
                                    </tr>
                                  <%}%>
                                </table>
                    </div>
                    <%} else {%>
                      </div></div></div>
                    <%}%>
                  </div>
            <%  }
              }%>
      </div>
      <div class='col-md-1 col-sm-1'>
      </div>
    </div>
  <%}%>
<script>
  $(document).ready(function(){
  });
  
  var toggleDisplay = function(id) {
    $('#users_' + id).toggleClass('user-hide user-show');
    $('#chevron_' + id).toggleClass("glyphicon-chevron-down glyphicon-chevron-up");
  }
  
  var editAccount = function(id) {
      $(document).attr("location", "/accounts/" + id + "/edit");
  }
  
  var showAcccount = function(id) {
      $(document).attr("location", "/accounts/" + id);
  }

  var editActivityLog = function(id) {
      $(document).attr("location", "/accounts/" + id + "/edit_users");
  }

</script>